@black: #333;

.margenes(@top: 0px, @bottom:0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @black;
  color: azure;
  margin-top: 50px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @black;
  color: azure;
  .margenes(10px, 0px);
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}
