.jumbotron {
  background-color: #333;
  color: azure;
  margin-top: 50px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #333;
  color: azure;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
